﻿header, footer {
    background-color: #343a40;
}

html {
    position: relative;
    min-height: 100%;
}

.nav-color {
    color: rgba(255,255,255,0.5)
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

body {
    margin-bottom: 85px;
}
